<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login Successful</title>
<style>
	body {
		background-color: lightgreen;
	}
	div {
		text-align: center;
	}
	h1 {
		text-align: center;
	}
	.left-align {
		padding-right: 200px;
		font-size: 20px;
	}
	.right-align {
		padding-left: 200px;
		font-size: 20px;	
	}
	.left-align:hover, .right-align:hover {
		color: black;
	}

</style>
</head>
<body bgcolor=lightgreen>
	<div>
		<h1>ABC Bank</h1>
		<a href="/CustomerEntry" class="left-align" title="Add Customer">Add Customer</a>
		<a href="/CustomerDelete" class="right-align" title="Delete Customer">Delete Customer</a>
	</div>
</body>
</html>