<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Customer Eligibility Check</title>
<style>
	input[type="submit"] {
		background-color: blue;
		color: white;
	}
	input[type="submit"]:hover {
		background-color: black;
	}
</style>
</head>
<body bgcolor=lightgreen>
	<div>
		<h1>Credit Card-Eligibility Validator Application</h1>
		<form action="/customer-eligibility-check" method="post">
			<label for="pan">Pan Number:&nbsp;</label>
			<input type="text" id="pan" name="panNumber" pattern="[a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}" required placeholder="Ex: abcde1234f" autofocus><br><br>
			<input type="submit" value="check">
		</form>
	</div>
</body>
</html>